body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color:rgb(240 235 210);
    position: relative;
}

.navbar a {
    float: left;
    display: block;
    color:#00471b;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    width: 33.33333333%;
    height: 200px;

}


.navbar #rosternav:hover {
    background-image:url("https://besthqwallpapers.com/Uploads/7-3-2021/159982/thumb-khris-middleton-torrey-craig-giannis-antetokounmpo-brook-lopez-donte-divincenzo.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
   
    color: white;
}
.navbar #schedulenav:hover {
    background-image:url("https://i.pinimg.com/originals/33/0f/ea/330feaa3c514f68adbdee9592e6b9ffe.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
   
    color:white;
}
.navbar #homenav:hover {
    background-image:url("https://assets.biztimes.com/uploads/2019/11/COV-Bucks-Arena-111119-AWeiland.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
   
    color:white;
}

.navbar a.active {
    background-color: #00471b;
    color:rgb(240 235 210);
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: block;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}